.card-container {border: 1px solid #ddd;border-radius: 10px; 
        text-align: left; padding: 16px; margin-right: 7px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;}
.card-container:hover {transform: scale(1.01);box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}
      
/* Top-left label */
.card-label-green {position: absolute;top: 0px;left: 0px;background-color: rgba(59, 183, 126, 0.8);color: white;
                   padding: 8px 18px;font-size: 12px;font-weight: bold;text-transform: uppercase;
                   z-index: 1; border-top-left-radius: 10px; border-bottom-right-radius: 15px;}
  
                   
/* Image Styling */
.card-container img {width: 100%;height: auto;border-radius: 8px;transition: transform 0.3s ease, opacity 0.3s ease;}
      
/* Tooltip */
.card-container:hover img {transform: scale(1.1);opacity: 0.8;}
      
.card-tooltip {position: absolute; bottom: 50%;left: 50%;transform: translate(-50%, 50%);
                display: flex;align-items: center;
                background-color: rgba(256, 256, 256, 0.6); color: rgba(59, 183, 126, 0.8); 
                border-radius: 4px; border: 1px solid rgba(59, 183, 126, 0.4); 
                font-size: 10px; visibility: hidden; opacity: 0; transition: opacity 0.3s ease;}
.card-container:hover .card-tooltip {visibility: visible; opacity: 1;}                
.card-tooltip .tooltip-icon{font-size: 17px !important; border-right: 1px solid rgba(59, 183, 126, 0.4); padding:6px 8px !important;
                                 cursor: pointer; }
.card-tooltip .tooltip-icon:hover{color: rgba(255, 184, 5, 0.996) !important; }                
.MuiTooltip-arrow{color: rgba(59, 183, 126, 0.8) !important; }
.MuiTooltip-tooltip{background-color: rgba(59, 183, 126, 0.8) !important;}
  

.card-label{ font-size: 10px;opacity: 0.8; margin-top: 10px; padding-left: 2px;}
.card-title-button{color: #000; font-weight: 800;  }
.card-heading{ max-width: 160px; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis !important;}
.card-rating{display: flex !important; align-items: center; font-size:12px; padding: 2px 0px; }
.card-rating .MuiRating-root{font-size:15px; margin-right: 10px; }
.card-brand{padding-bottom: 2px;}
.card-brand span{opacity: 0.5; font-size: 13px;}
.card-brand a{color:rgba(59, 183, 126, 0.8); text-decoration: none; font-size: 14px;}
.card-price-add{display: flex;justify-content: space-between;}
.card-price{ display: flex; align-items: center; padding-bottom: 2px;}
.card-price .current-price{padding-right: 10px; color: rgba(59, 183, 126, 1); text-decoration: underline;
                            font-weight: 800;}
.card-price .old-price{text-decoration:line-through; font-size: 12px; opacity: 0.6;}

/* Add Button Styling */
.card-add-button {width: 15%; height: auto; background-color: rgba(59, 183, 126, 0.5); color: #0d5d12;border-radius: 4px;padding: 10px 16px;
        font-size: 12px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.MuiSvgIcon-root{font-size: 14px !important;}      
.card-add-button:hover {background-color: rgb(4, 200, 108);}

.card-add-button svg {margin-right: 4px;}
      