.Date-card{ display: flex; justify-content: space-between; margin: 15px 15px;  }
.Date-card .card-item{ padding: 10px; background-color: #fff; border-radius: 6px; text-align: center;
                        font-size: 12px; width: 10%; }
.Date-card .card-item span{color: rgba(59, 183, 126, 0.9); font-weight: 600;} 
.Date-card .card-item p{font-size: 8px; opacity: 0.7;}                      