.home-container{margin:15px;}
.Featured-container .nav{padding: 10px 0px; display: flex; align-items: center; gap: 20; }
.Featured-container .nav .head1 h1{font-weight: 800; padding-right: 15px;}
.Featured-container .nav ul{display: flex; padding-left: 15px;}
.Featured-container .nav ul li{list-style: none; margin-left:10px; padding: 0px 10px;}
.Featured-container .nav ul li button{font-size: 18px; font-weight: 600; transition: all 0.3s ease-in-out; }
.Featured-container .nav ul li button:hover{ color: rgba(59, 183, 126, 0.8) !important; transform: translateY(-5px); }