.grocey-deals{background-color: rgb(215, 250, 234); margin: 15px 0px; padding-bottom: 0px !important;
        padding: 15px 0px; border-radius: 20px; text-align: right;}


.grocey-deals .banner img{width: 50% !important; padding: 0px !important; margin: 0px !important;}

.grocey-deals .banner .banner-info{position: absolute; z-index: 1 !important; top: 80px; left: 50px !important; text-align: left;}

.grocey-deals .banner .banner-info h1{ font-size: 3.4rem; opacity: 0.6; font-weight: 600; }
.grocey-deals .banner .banner-info p{ font-size: 1.5rem; opacity: 0.5;  font-weight: 600; margin: 15px 0px;}

.grocey-deals .slide-container .mail{ margin-top: 12% !important;}
.grocey-deals .slide-container .mail input{position: relative; width: 40% !important; height: 60px; border-radius: 30px;
                          outline: none; border: none; padding-left:15px; font-size: 16px; padding-right: 200px; }
.grocey-deals .slide-container .mail input::placeholder{opacity: 0.6; }                       
.grocey-deals .slide-container .mail button{position: absolute; right: 20%; background-color: rgba(59, 183, 126, 0.8);
                              width: 30%; height: 60px; border-radius: 30px; font-size: 18px;
                              font-weight: 600; color: #fff;}

footer .footer-upper{display: flex;justify-content: space-between; margin: 15px 0px; padding: 15px 0px;}
footer ul li{list-style: none;}
footer p,a{font-size: 12px; color: rgba(0, 0, 0,0.8);font-weight: 400; margin: 10px 0px; text-decoration: none; transition: all 0.3s ease-in-out;}
footer img{width: 75%;}
footer h5{font-weight: 500; padding: 10px 0px;}

.footer-menu{display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; width: 50%;}
footer li{margin: 3px 0px; }
footer li a:hover{ color: rgb(11, 214, 119); padding-left: 5px;}
.footer-ImgLinks img{transition: all 0.3s ease-in-out;}
.footer-ImgLinks img:hover {transform: translateY(-5px);}

footer .colored-hr{background-color: rgba(59, 183, 126, 0.8);  height: 2px; border: 0;}


footer .footer-lower{display: flex; justify-content: space-between; align-items: center; padding-top:10px ;}
footer .footer-lower .toolfree{display: flex; gap: 10px;}
footer .footer-lower .toolfree svg{ font-size: 30px !important;}
footer .footer-lower .toolfree h2{color: rgba(59, 183, 126, 0.8);}
footer .footer-lower .toolfree h2:hover{color: orange;}
footer .footer-lower .followus{display: flex; justify-content: end; align-items: center; gap: 5px; height: 30px;}
footer .footer-lower .followus .icon{ transition: all 0.3s ease-in-out; }
footer .footer-lower .followus .icon:hover{transform: translateY(-5px);}  
footer .footer-lower .followus .icon svg{font-size: 35px !important; color: rgba(59, 183, 126, 0.8) !important; background-color: #fff !important }
                                      
